.main-content {
  padding: 20px;
  padding-bottom: 80px;
}

.floating-button {
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: #3baf9c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  font-size: 20px;
  z-index: 1000;
}

.floating-button:hover {
  background-color: #43b5c9;
}

/* Responsive styles */
@media (max-width: 768px) {
  .main-content {
      padding: 15px;
  }
}